html, body { height: 100%; margin: 0; font-family: Roboto, 'Helvetica Neue', sans-serif; background: #f5f5f5; }
.mat-mdc-chip { pointer-events: none !important; }
.mat-mdc-progress-spinner { display: inline-block; }
